
*.txt
obj/Debug/OneHundredFiles.csproj.CoreCompileInputs.cache
bin/Debug/OneHundredFiles.pdb
.vs/OneHundredFiles/FileContentIndex/aa1cbdee-d3fc-4b83-9577-7e4f66df5225.vsidx
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/OneHundredFiles/FileContentIndex/5aa77383-1f38-469f-b303-b12e85baae23.vsidx
*.vsidx
*.v2
.vs/OneHundredFiles.csproj.dtbcache.json
.vs/OneHundredFiles/v17/TestStore/0/testlog.manifest
*.bin
*.dll
*.config
bin/Debug/net8.0/OneHundredFiles.pdb
*.cache
obj/project.assets.json
*.targets
*.props
*.json
obj/Debug/net8.0/OneHundredFiles.csproj.BuildWithSkipAnalyzers
UnitTestProject/obj/Debug/net8.0/UnitTestProject.csproj.BuildWithSkipAnalyzers
UnitTestProject/obj/Debug/net8.0/UnitTest.294DD5B1.Up2Date
*.pdb
UnitTestProject/bin/Debug/net8.0/testhost.exe
UnitTestProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
UnitTestProject/obj/Debug/net8.0/UnitTestProject.GeneratedMSBuildEditorConfig.editorconfig
OneHundredTextFiles/obj/Debug/OneHundredFiles.exe
